<?xml version="1.0"?>
<launch>

    <param name="robot_description"
        command="xacro  '$(find lab_4)/urdf/my_robot.xacro'" />

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="False" />


    </node>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find lab_4)/rviz/config.rviz" />



  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find wheelchair_simulation)/worlds/hospital.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>



    <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -model rrbot -param robot_description" />

    <node pkg="tf" type="static_transform_publisher" name="chassis_to_base_frame"
        args="0 0 0 0 0 0 1 base_footprint chassis 100" />
    <node name="mapping" pkg="gmapping" type="slam_gmapping">
        <remap from="scan" to="/laser/scan" />
        <param name="base_frame" value="base_footprint" />

    
    </node>
    
   
   

</launch>
